/* src/components/Result.css */
.result-container {
  text-align: center;
  padding: 20px;
}

.result-container h2 {
  margin-bottom: 20px;
}

.result-container img {
  max-width: 100%;
  margin-bottom: 20px;
}

.result-container p {
  margin-bottom: 10px;
}

.result-container button {
  margin-top: 20px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.result-container button:hover {
  background-color: #0056b3;
}
