/* src/components/Upload.css */
.upload-container {
  text-align: center;
  padding: 20px;
}

.upload-container h2 {
  margin-bottom: 20px;
}

.upload-container p {
  margin-bottom: 20px;
}

.upload-container input {
  margin-bottom: 20px;
}

.upload-container button {
  margin-top: 20px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.upload-container button:hover {
  background-color: #0056b3;
}
